.new-story-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width:66%;
    margin: auto;
    background-color: white;
    height: 100vh;
}

.style-controller-wrapper {
    padding: 5px;
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    background-color: black;
    display: block;
    color: #ffffff;
    display: inline-block;
}
.style-controller-wrapper i {
    padding:3px;
    margin-right: 3px;
    font-weight: 700;
    font-size: 18px;
    font-family: inherit;
}